<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'ReRForm.css') }}"/>
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" action="{{ url_for('Rhello') }}" method="POST" enctype="multipart/form-data">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Rname" name = "Rname">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="text" class="login__input" placeholder="Rid" name = "Rid">
				</div>
				<div class="login__field">
					<p><strong>Select an Image</strong></p>
					<i class="login__icon fas fa-lock"></i>
					<input type="file" class="login__input" placeholder="img" name = "img" accept="image/*">
				</div>
				<button class="button login__submit">
					<span class="button__text">Save</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<p class = "message1"><strong>Name or Id or User Image are missing</strong></p>
			<br>
			<p class = "message2"><strong>Please re-enter the Name and Id and upload the image</strong></p>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>